<ion-header>
  <ion-toolbar color="darkgreen">
    <ion-title>{{tituloPagina}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-flyer-blue">
  <ion-card color="lightcream">
    <ion-card-header>
      <ion-card-title class="font-gotham">Fiesta del Pulque</ion-card-title>
    </ion-card-header>

    <ion-card-content no-margin="">
      <p>
        La fiesta del pulque y Dulce andar, Romería de la Melcocha se llevarán a cabo el jueves 18 de abril de 2019, a
        partir de las 13:00 hrs. en el Anexo de la Capilla de Mexicapan.
      </p>

      <br>

      <p>
        En colaboración con:<br>
        Vecinos del Barrio de Mexicapan<br>
        Amigos del Patrimonio Zacatecano A.C.
      </p>

      <br>

      <p>
        No se tiene evidencia de cuando inició el consumo del pulque como bedida popular, sin embargo, se cree que en
        esta región del Estado de Zacatecas se propició con la llegada de los indios tlaxcaltecas que acompañaron a los
        españoles en la conquista del Norte de la Nueva España, los cuales se establecieron en el pueblo de Tlacuitapan,
        a orillas de la ciudad de Zacatecas; donde, de acuerdo a las crónicas y descripciones, se sembraron grandes
        magueyeras. A mediados del siglo XX se tenía la costumbre de beber pulque en Semana Santa, en especial después
        de los oficios de jueves y viernes santos. Las personas se dirigían a las Huertas del Vergel y del Padre
        Castillo como parte de un paseo festivo, en donde además de la degustación del pulque, había venta de
        enchiladas, dulces de leche, taquitos de frijoles y papas, atole y las tradicionales melcochas.
      </p>

      <br>

      <p>
        El Instituto Zacatecano de Cultura Ramón López Velarde a través del Festival Cultural Zacatecas y la Unidad
        Estatal de Culturas Populares, desde el 2014, ha participado en coordinación de la FIESTA DEL PULQUE con los
        Vecinos del Barrio de Mexicapan y la asociación Amigos del Patrimonio Zacatecano.
      </p>

      <br>

      <ion-img src="../../assets/img/pulque.jpg"></ion-img>

      <br>

      <p>
        El evento contará con la participación de 20 agrupaciones de danza tradicional y un aproximado de 600
        participantes. Los músicos y danzantes son provenientes de 16 municipios: Villa González Ortega, Río Grande,
        Pinos, Trancoso, Jalpa, Apozol, Jerez, Villa de Cos, Monte Escobedo, Teúl de González Ortega, Zacatecas,
        Ojocaliente, Miguel Auza, Fresnillo, General Pánfilo Natera y Tabasco. Mostrando distintos géneros como danza de
        matlachines, danza de pluma o palma, danza de indio, danza de caballitos, danza de pardos y tastoanes.
      </p>

      <br>

      <strong>Programa</strong>

      <br>

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            13:00
          </ion-col>
          <ion-col size="9">
            Bienvenida y presentación de la Fiesta del Pulque.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            13:30
          </ion-col>
          <ion-col size="9">
            Charla Recuerdos de mi niñez en mi barrio, a cargo de Jesús Cardona y la APAZAC.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            13:45
          </ion-col>
          <ion-col size="9">
            Charla La cocina tradicional zacatecana de Semana Santa, a cargo de Francisco Román.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            14:00
          </ion-col>
          <ion-col size="9">
            Inicio del recorrido Dulce andar, desde el Jardín Independencia, con la música de tamborazo de Pericos
            Show, la declamación Vamos al baile de Mexicapan de Severo Amador y el Conjunto de Danza Folklórica
            Tenamaxtle con su presentación Bailes mineros y Mexicapan.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            15:00
          </ion-col>
          <ion-col size="9">
            Llegada a Mexicapan.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            15:20
          </ion-col>
          <ion-col size="9">
            Charla Tradición del Dulce andar.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            15:30
          </ion-col>
          <ion-col size="9">
            Degustación de pulque y gastronomía tradicional y reparto de la melcocha, con la música del cuarteto de
            cuerdas La Diferencia.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
